<div class="footer">
    <div class="logo">
        <img src="../../../../assets/rnec-logo.png" alt="HOME">
    </div>    
    <div class="info">
        <div class="item">
            <mat-icon>place</mat-icon><p>Avenida Calle 26 # 51-50 - CAN (Bogotá - Colombia)</p>
        </div>  
        <div class="item">
            <mat-icon>email</mat-icon><p>Horario de atención correspondencia de lunes a viernes de 8:00 a.m. a 4:30 p.m. en jornada continua (Sede CAN Avenida Calle 26 # 51-50 )</p>
        </div>      
        <div class="item">
            <mat-icon>phone</mat-icon><p>Conmutador: +57 (601) 220 2880</p>
        </div>
        <div class="item">
            <mat-icon>av_timer</mat-icon>
            <div>CAIC Centro de Atención e Información al Ciudadano Carrera 7 No. 16- 49 Edificio Córdoba de lunes a viernes de 8:00 a.m. a 4:00 p.m. en jornada continua</div>
        </div>
    </div>
</div>