section{
    padding: 0 1rem 0 1rem;
    background-image: url("../../../../assets/elecciones-presidenciales.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    .title{
        text-align: left;        
        font-size: 5rem;
        font-weight: bold;
        color: rgb(50, 109, 84);
        width: 56.25rem;
    }
    .card{
        height: 18.75rem;
        width: 31.25rem;
        background-color: rgb(52 52 52 / 46%);
        color: #fff;
        font-size: 3rem;
        text-align: left;
        h2{
            padding: 0.5rem 1rem;
        }
        button{
            position: relative;
            left: 1rem;
            background-color: rgb(0, 255, 170);
            color: black;
        }
    }
}