.header{
    display: flex;
    flex-direction: row;
    height: 8rem;
    width: 100%;
    background-color: var(--theme-color);
    .logo{
        height: 100%;
        width: 17.0625rem;

        img{
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
    .menu{
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        width: 100%;
    }
}
.ribbon{
    height: 2.25rem;
    width: 100%;
    background-color: #ffffff;
}